{% load static %}
<footer class="my-4 py-3">
    <div class="container-fluid">
        <div class="row justify-content-lg-center">
            <!-- Github link -->
            <div class="col col-xs-12 col-md-6 col-lg-2">
                <div class="d-flex justify-content-center align-items-center footer-link-con">
                    <i class="fab fa-github mr-1"></i>
                    <a href="https://github.com/HKSenior">
                        <p class="text-muted m-0 pt-1">Github</p>
                    </a>
                </div>
            </div>
            <!-- End of Github link -->

            <!-- Linkedin link -->
            <div class="col col-xs-12 col-md-6 col-lg-2">
                <div class="d-flex justify-content-center align-items-center footer-link-con">
                    <i class="fab fa-linkedin mr-1"></i>
                    <a href="https://linkedin.com/in/hksenior">
                        <p class="text-muted m-0 pt-1">Linkedin</p>
                    </a>
                </div>
            </div>
            <!-- End of Linkedin link -->
        </div>
        <!-- End of row -->

        <div class="row">
            <div class="col col-12 text-center mt-4">
                <p class="d-inline m-0">Made with</p>
                <i class="fas fa-heart"></i>
                <p class="d-inline m-0">by Hassani King Senior</p>
            </div>
        </div>
    </div>
</footer>