{% load static %}
<header>
    <!-- Particles -->
    <div id="particles-js"></div>
    <!-- End of Particles -->

    <!-- Banner -->
    <div class="text-center banner-heading">
        <h1 class="animated fadeInDown slower display-4">Welcome to my Portfolio</h1>
        <h1 class="animated fadeInLeft slower">My name is Hassani</h1>
        <h1 class="animated fadeInUp slower">I'm a Web Developer & an all around Foodie</h1>
        <div class="container-fluid my-5">
            <!-- Social Links Row -->
            <div class="row justify-content-lg-center animated bounceIn delay-2s fast">
                <!-- Github link -->
                <div class="col col-xs-12 col-md-6 col-lg-2 mr-4">
                    <div class="d-flex justify-content-center align-items-center footer-link-con">
                        <div class="link-icon-color">
                            <a href="https://github.com/HKSenior">
                                <i class="fab fa-github fa-3x mr-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Github link -->

                <!-- Linkedin link -->
                <div class="col col-xs-12 col-md-6 col-lg-2 ml-4">
                    <div class="d-flex justify-content-center align-items-center footer-link-con">
                        <div class="link-icon-color">
                            <a href="https://linkedin.com/in/hksenior">
                                <i class="fab fa-linkedin fa-3x"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Linkedin link -->
            </div>
            <!-- End of Social Links Row -->
        </div>
        <div class="row pt-5 justify-content-center" id="banner-arrow">
            <i class="fas fa-arrow-down fa-4x animated flip delay-3s"></i>
        </div>
    </div>
    <!-- End of Banner -->
</header>