{% load static %}
<nav class="navbar navbar-expand-lg navbar-fixed-top d-none pt-3" id="navbar-float">
    <div class="container justify-content-center-xs nav">
        <div id="nav-brand">
            <h6 class="navbar-brand">Hassani's Portfolio</h6>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="main-navbar">
            <ul class="navbar-nav nav">
                <li class="nav-item mr-5 animated" id="nav-skills">
                    <h6 class="nav-link">Skills</h6>
                </li>
                <li class="nav-item mr-5 animated" id="nav-projects">
                    <h6 class="nav-link">Projects</h6>
                </li>
                <li class="nav-item mr-5 animated" id="nav-resume">
                    <h6 class="nav-link">Resume</h6>
                </li>
                <li class="nav-item mr-5 animated" id="nav-contactme">
                    <h6 class="nav-link">Contact Me</h6>
                </li>
            </ul>
        </div>
    </div>
</nav>