html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

section {
    font-size: 1.1rem;
}

a:hover {
    color: #FBF3AC;
}

.icon-rocket {
    color: #007bff;
}

.btn-download > a {
    color: white;
    text-decoration: none;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.iframe-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    overflow: hidden;
}

.bg-yellow {
    background-color: #F9DF45;
}

.bg-red {
    background-color: #E8533C;
}

.bg-light-green {
    background-color: #B9CB3F;
}

.link-icon-color > a {
    color: black;
}

.full-height {
    height: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/******************/
// IDs
#particles-js {
    height: 100vh;
    background-color: #28943F;
    overflow: hidden;
    background: linear-gradient(rgba(40,148,63, 0.9), rgba(40,148,63, 1));
}
// End of IDs
/******************/


/******************/
// Nav Bar
.banner-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
}

.navbar {
    background: linear-gradient(rgba(23, 53, 71, 0.8), rgba(23, 53, 71, 0.9));
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-brand:hover {
    cursor: pointer;
}

.navbar-brand, .nav-link {
    color: #FBF3AC;
}

#main-navbar > .navbar-nav > li:hover {
    animation-name: heartBeat;
    cursor: pointer;
}

.fas.fa-bars {
    color:black;
    font-size: 2rem;
}
// End of Nav Bar
/******************/


/******************/
// Cards
.card-size {
    width: 18rem;
}

.card-font {
    font-family: 'Noto Sans', sans-serif;
}

.card-prg-font {
    font-size: 0.6rem;
}

// End of Cards
/******************/


/******************/
// Lists
.list-style {
    list-style-type: none;
}

.list-icon {
    text-align: center;
}
// End of Lists
/******************/


/******************/
// Contact Form
#contact {
    background: linear-gradient(#0072ff, #00c6ff);
}
// End of Contact Form
/******************/


/******************/
// Footer
footer {
    font-weight: 600;
}

.footer-link-con > a:link {
    text-decoration: none;
}
// End of Footer
/******************/


/******************/
// Media Queries
@media (min-width: 300px) {
    html { font-size: 0.8rem; }
    .nav a { font-size: 1.5rem; }
    .banner-heading > h1 { font-size: 2rem; }
}

@media (min-width: 992px) {
    html { font-size: 0.9rem; }
    .nav a { font-size: 1.2rem; }
    // .iframe-container { width: 70%; }
}

@media (min-width: 1200px) {
    html { font-size: 1rem; }
    .nav a { font-size: 1rem; }
}

@media (min-width: 1250px) {
    // .iframe-container { width: 70%; }
}
// End of Media Queries
/******************/